@import '/fontawesome/css/all.min.css';

@font-face {
  font-family: "VCR";
  src: local("VCR"), url(/fonts/VCR_OSD_MONO.ttf) format("truetype");
}

html,
body {

  /* ========================== change ========================== */
  background-color: #030309;
  /* ========================== change ========================== */

  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
